.line {
    height: 70px;
    width: 100%;

    display: flex;
    flex-direction: row;

    border-bottom: 0.5px solid var(--border-color);
    border-top: 0.5px solid var(--border-color);
}

.name {
    flex-grow: 2;
    justify-content: start;
}

.delete_edit {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.delete_edit button {
    width: 80%;
}