.main {
    width: 80%;
    height: 85vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--primary-bg-color);
    border: 1px solid var(--border-color);
    border-left: 0px;
}