@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --primary-font-color: #ffffff;
  --secondary-font-color: #A1A1AA;

  --primary-bg-color: #202124;
  --secondary-bg-color: #27272A;
  --hover-bg-color: #A1A1AA;

  --border-color: #414144;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
}

.app {
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: row;

  color: var(--primary-font-color);
}